@media only screen 
and (max-width : 768px) {

.menu-sep{
	display:none;	
}

.menu-item{
	margin-left:0px;
	padding-top:5px !important;
	padding-bottom:5px !important;
	font-size:14px;
	font-family: 'latobold';
	text-transform:uppercase
}

.menu-item:hover{
	padding-left:10px;
	color:#fff !important;
	background-color:#81c341 !important;

}


.contact2{
	margin-bottom:55px;
	margin-right:0px;
}

.contact1{
	margin-bottom:55px;	
}

.contact3{
	margin-bottom:55px;
	margin-left:0px;	
}

}




@media only screen 
and (min-width : 1568px) {
.carousel-title{
	 font-size:65px;
	 line-height:55px;
	 width:45%;
}

}